<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banking App</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 20px;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }

    #response {
      margin-top: 20px;
    }

    table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    }

    table.center {
      margin-left: auto; 
      margin-right: auto;
    }

    .white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
    }
    
/* Table style */
    #apiTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    }

    #apiTable td, #customers th {
      border: 1px solid #ddd;
      padding: 3px;
    }

    #apiTable tr:nth-child(even){background-color: #f2f2f2;}

    #apiTable tr:hover {background-color: #ddd;}

    #apiTable th {
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: left;
      background-color: #45a049;
      color: white;
    }
  </style>
</head>
<body>
<br><br>
<form id="apiForm" onsubmit="return validateForm()">
<center><h2> Banking User Profile</h2></center>

  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name" required="required" pattern="[A-Za-z]"><br>

  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name" required="required" pattern="[A-Za-z]"><br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required><br>

  <button type="button" onclick="submitData()">Add User</button>
</form>
<center>
<br><div id="response" style="width:800px; margin:0 auto;"></div>
<br><button type="Report" onclick="fetchData()">Generate User Report</button>
</center>
<script>
// Validate before submit
function validateForm() {
  var fname = document.getElementById("first_name").value;
  var lname = document.getElementById("last_name").value;
  var email = document.getElementById("email").value;

  if (fname === "" || lname === "" | email === "") {
    alert("Please fill out all required fields.");
    return false; // Prevent form submission
  }
  return true; // Allow form submission
}

  function submitData() {
    const formData = {
      first_name: document.getElementById('first_name').value,
      last_name: document.getElementById('last_name').value,
      email: document.getElementById('email').value
    };
//API endpoint
    const apiUrl = '$API_SERVER_URL';

    fetch(apiUrl, {
  method: 'POST',
  mode: "cors",
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(formData),
  referrerPolicy: 'no-referrer-when-downgrade' // Specify the referrer policy
})
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      console.log('Data sent successfully:', data);
      displayResponse(data);
    })
    .catch(error => {
      console.error('Error sending data:', error);
      displayResponse({ error: 'Failed to send data.' });
    });
    var form = document.getElementById("apiForm");
    form.reset();
  }

  function displayResponse(data) {
    const responseDiv = document.getElementById('response');
    responseDiv.innerHTML = '';

    if (data.error) {
      responseDiv.innerHTML = `<p style="color: red;">Error: ${data.error}</p>`;
    } else {
      responseDiv.innerHTML = `<p style="color: green;">API Response:</p>
                               <pre>${JSON.stringify(data, null, 2)}</pre>`;
    }
  }

// Fetch data from database
// Replace the URL with your API endpoint
 const apiUrl = '$API_SERVER_URL';

// Function to make API request and populate the table
function fetchData() {
    fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
            const tableBody = document.querySelector('#apiTable tbody');
            tableBody.innerHTML = ''; // Clear existing table rows

            data.forEach(employee => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${employee.id}</td>
                    <td>${employee.first_name}</td>
                    <td>${employee.last_name}</td>
                    <td>${employee.email}</td>
                `;
                tableBody.appendChild(row);
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}

</script>
<br>
<table id="apiTable" border="1" class="center">
  <thead>
      <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
      </tr>
  </thead>
  <tbody></tbody>
</table>
</body>
</html>
